@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  --primary-color: rgba(252, 172, 40, 1);
  --secondary-color: black;
}

* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

button {
  cursor: pointer;
}

.mt-2 {
  margin-top: 2rem;
}
.pd-1 {
  padding: 1rem;
}

.big-btn-pd {
  padding: 20px 60px;
}

.small-btn-pd {
  padding: 10px 30px;
}

.smallest-btn-pd {
  padding: 10px 15px;
}

.btn-main {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  font-weight: bolder;
}

.btn-change-item {
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.container {
  max-width: 1660px;
  margin: auto;
}

.container .cart__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.container .cart__content .cart__items {
  max-width: 58.33%;
}

.container .cart__content .cart__items .wrapper {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

.container .cart__content .cart__items .wrapper .cart__items-image {
  width: 35%;
}

.container .cart__content .cart__items .wrapper .cart__items-image img {
  width: 100%;
}

.container .cart__content .cart__items .wrapper .cart__items-content {
}

.container
  .cart__content
  .cart__items
  .wrapper
  .cart__items-content
  .itemQuantity {
}

.container .cart__content .cart__recap {
}

.container .cart__content .cart__recap > * {
  margin-top: 2rem;
}
