@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  --primary-color: rgba(252, 172, 40, 1);
  --secondary-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

button {
  cursor: pointer;
}

.mt-2 {
  margin-top: 2rem;
}
.pd-1 {
  padding: 1rem;
}

.big-btn-pd {
  padding: 20px 60px;
}

.small-btn-pd {
  padding: 10px 30px;
}

.smallest-btn-pd {
  padding: 10px 15px;
}

.btn-main {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  font-weight: bolder;
}

.btn-change-item {
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.container {
  max-width: 1660px;
  margin: auto;
}

.container .cart__content {
  display: flex;
  justify-content: space-between;
}

.container .cart__content .cart__items .wrapper {
  margin-top: 32px;
  max-width: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

.container .cart__content .cart__items .wrapper .cart__items-image {
  width: 35%;
}

.container .cart__content .cart__items .wrapper .cart__items-image img {
  width: 100%;
}

.container .cart__content .cart__items .wrapper .cart__items-content {
}

.container
  .cart__content
  .cart__items
  .wrapper
  .cart__items-content
  .itemQuantity {
}

.container .cart__content .cart__recap > * {
  margin-top: 2rem;
}
